* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary-color);
}

.font-sora {
  font-family: "Sora", sans-serif;
  color : #000958;
}