:root {
    --bg-primary-color : #FFFAF5;
    --bg-secondary-color : #FFF6ED;
    --bg-button-color : #FF5B2E;

    --text-heading-color : #000958;
    --text-paragraph-color : #656689;
    --text-list-color : #48496A;
}
